.chatContainer {
    width: calc(100% - 50px);
    min-width: 200px;
    display: flex;
    flex-direction: column;
    max-height: 900px;



    .top-header {
        height: 70px;
        background-color: rgb(46, 46, 77);
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        color: white;


        .item {
            display: flex;
            gap: 10px;
            color: white;
            cursor: pointer;


            i:hover {
                color: rgb(92, 92, 88);
            }
        }
    }


}

@media (max-width:900px) {
    .chatContainer {
        margin-left: 50px;
        height: 100vh;
    }

}