.inputContainer {
    width: calc(100% - 50px);
    height: 50px;
    background-color: rgb(247, 250, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    input {
        max-width: 290px;
        border: none;
        outline: none;

    }

    i {
        cursor: pointer;
    }

    button {
        padding: 10px;
        border-radius: 2px;
        border: none;
        background-color: rgb(66, 69, 212);
        color: white;
        cursor: pointer;
    }

    img.preView {
        width: 50px;
        height: auto;
        position: absolute;
        margin-top: -100px;
    }
}


@media (max-width:479px) {
    .inputContainer {
        width: 100%;


    }

}