.messContainer {
    background-color: rgb(54, 66, 82);
    height: calc(100vh - 130px);
    overflow: scroll;

}


@media (max-width:479px) {
    .messContainer {
        width: 100%;
        height: 100vh;


    }
}