.sidebar {

    max-width: 300px;
    max-height: 900px;
    background-color: rgb(37, 45, 70);
    color: #c0bbbb;

    .content {
        .title {
            font-weight: 500;
            margin-left: 10px;
            font-size: small;
        }

        .user {

            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10px;
            padding: 10px;
            border-top: 1px solid #a09f9f;
            cursor: pointer;

            &:hover {
                background-color: rgb(123, 126, 126);
            }

            img {
                width: 35px;
                height: 35px;
                border-radius: 100%;

            }

            .details {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                width: 192px;
                height: 66px;


                .UserName {

                    margin: 0;
                    font-weight: bold;
                }

                .new-text {
                    margin: 0;
                    font-size: small;
                    width: 192px;
                }



            }
        }
    }

}

.bar-mb {
    display: none;
}

@media (max-width: 900px) {
    .sidebar {
        width: 50px;
        height: 100%;
        position: absolute;
        transition: width 1s ease-in-out;
        z-index: 999;

        .navbar {
            display: flex;
            width: 45px;
            background-color: rgb(37, 45, 70);

            .logo,
            button,
            span {
                display: none;
            }
        }

    }



    .content {
        display: flex;
        height: calc(100% - 60px);
        flex-direction: column;

        .search {
            display: none;
        }

        .user {
            display: flex;



            .details {


                .UserName,
                .new-text {
                    display: none;
                }

            }
        }



    }

    .bar-mb {

        display: none;
        align-items: start;
        margin-top: 15px;
        margin-right: 10px;
        height: 50px;

        i {
            font-size: 30px;
        }
    }

    .sidebar.active {
        width: 300px;
        z-index: 998;
        display: flex;
        flex-direction: column;

        .navbar {
            display: flex;
            overflow: hidden;
            width: 100%;
            justify-content: space-between;

            .logo {
                display: none;
            }

            .bar-mb {
                display: flex;
            }

            button,
            span {
                display: flex;
            }

        }



        .content {
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .search {
                display: flex;
                flex-direction: column;
            }


            .user {


                .details {

                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .UserName,
                    .new-text {

                        display: flex;
                        align-self: start;
                        align-items: center;


                    }
                }
            }
        }
    }


}